# Turso Database (use this in deployment)
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

# Local SQLite (do not commit)
# DATABASE_URL=calipa.db

# Calipa Scheduling Contract Address (Sepolia)
VITE_CALIPA_SCHEDULING_ADDRESS=